<!--====== HEADER PART START ======-->
{% load static %}
<header id="header-part">

    <div class="header-top d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact text-lg-left text-center">
                        <ul>
                            <li><img src="{% static 'images/all-icon/map.png' %}" alt="icon"><span>127/5 Mark street, New york</span>
                            </li>
                            <li><img src="{% static 'images/all-icon/email.png' %}" alt="icon"><span>info@yourmail.com</span></li>
                        </ul>
                    </div>
                </div>
                
                {% if user.is_authenticated %}
                <div class="col-lg-6">
                    <div class="header-opening-time text-lg-right text-center">
                
                        <p>{{ user.full_name }}</p>
                
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6">
                    <div class="header-opening-time text-lg-right text-center">
                        
                        <p>Instructor:&nbsp;<a href="{% url 'lms_main:instructor-signup' %}">SignUp</a>
                            <span>/&nbsp;</span><a href="{% url 'lms_main:instructor-login' %}">Login</a></p>
                        
                    </div>
                </div>
                {% endif %}
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header top -->

    <div class="header-logo-support pt-30 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <a href="index-2.html">
                            <img src="{% static 'images/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="support-button float-right d-none d-md-block">
                        {% if user.is_authenticated %}
                        <div class="button float-left">
                            <a href="{% url 'user:logout-user' %}" class="main-btn">Logout</a>
                        </div>
                        {% else %}
                        <div class="button float-left">
                            <a href="{% url 'user:login-user' %}" class="main-btn">Login</a>
                        </div>
                        <div class="button float-left">
                            <a href="{% url 'user:signup' %}" class="main-btn">Sign Up</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header logo support -->
{% if user.is_authenticated %}
    {% if user.student %}
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
    
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="{% url 'lms_main:home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'user:dashboard' %}">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'user:update-profile' %}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Categories</a>
                                    <ul class="sub-menu">
                                        {% for category in categories %}
                                        <li><a href="{% url 'lms_main:category-detail' category.slug %}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'lms_main:course-lists' %}">all courses</a>
                                </li>
                                
                                
                                <li class="nav-item">
                                    <a href="{% url 'user:my-course' %}">My course</a>
                                
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">Contact</a>
                                    <ul class="sub-menu">
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-2.html">Contact Us 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
                {% if request.user %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                    <div class="right-icon text-right">
                        <ul>
                            <li><a href="{% url 'lms_main:save-for-later' %}" id="search"><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href="{% url 'lms_main:shopping-cart' %}"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                        </ul>
                    </div> <!-- right icon -->
                </div>
                {% endif %}
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
    {% elif user.instructor %}
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
        
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a href="{% url 'lms_main:home' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'lms_main:instructor-dashboard' %}">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'lms_main:instructor-update-profile' %}">Profile</a>
                                    </li>
        
        
                                    <li class="nav-item">
                                        <a href="teachers.html">Courses</a>
                                        <ul class="sub-menu">
                                            <li><a href="teachers.html">My courses</a></li>
                                            <li><a href="">Add new course</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact.html">Contact</a>
                                        <ul class="sub-menu">
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="contact-2.html">Contact Us 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                        <div class="right-icon text-right">
                            <ul>
                                <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                            </ul>
                        </div> <!-- right icon -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

    {% endif %}
{% else %}
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="active" href="{% url 'lms_main:home' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Categories</a>
                                    <ul class="sub-menu">
                                        {% for category in categories %}
                                        <li><a href="{% url 'lms_main:category-detail' category.slug %}">{{ category.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'lms_main:course-lists' %}">all courses</a>
                                </li>
                                <li class="nav-item">
                                    <a href="teachers.html">Our teachers</a>
                                    <ul class="sub-menu">
                                        <li><a href="teachers.html">teachers</a></li>
                                        <li><a href="teachers-singel.html">teacher Singel</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="blog.html">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-singel.html">Blog Singel</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="shop.html">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-singel.html">Shop Singel</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html">Contact</a>
                                    <ul class="sub-menu">
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="contact-2.html">Contact Us 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-4">
                    <div class="right-icon text-right">
                        <ul>
                            <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                        </ul>
                    </div> <!-- right icon -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
                {% endif %}
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

</header>

<!--====== HEADER PART ENDS ======-->

<!--====== SEARCH BOX PART START ======-->

<div class="search-box">
    <div class="serach-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="{% url 'lms_main:search' %}" method="GET">
            <input type="text" placeholder="Search by Category, course" name="query" id="query">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div> <!-- serach form -->
</div>

<!--====== SEARCH BOX PART ENDS ======-->