{% extends 'lms_main/base.html' %}

{% load static %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<h1>welcome dear Teacher {{ user.full_name }}</h1>
<br><br><br>
{% if user.is_authenticated %}
    <h1>Authenticated</h1>
    <h5>{{ user.first_name }}</h5>
    <h5>{{ user.last_name }}</h5>
    <h5>{{ user.email }}</h5>
    <p>About Me: {{ user.instructor.about_me }}</p>

    <img src="{{ user.instructor.profile_image_url }}" alt="profile image" class="w-25 mx-auto">

{% else %}
    <h1>Not authenticated</h1>
{% endif %}




<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->

{% endblock %}