{% extends 'lms_main/base.html' %}

{% load static %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% crispy signup_form %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<!--====== TEACHERS PART START ======-->

<section id="teachers-singel" class="pt-70 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-50">
                    <div class="hero">
                        <img src="{{ instructor.profile_image_url }}" alt="Teachers">
                    </div>
                    <div class="name">
                        <h6>{{ instructor.instructor.full_name }}</h6>
                        <span>{{ instructor.designation}}</span>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="description">
                        <h5>About me</h5>
                        <p>{{instructor.about_me}}</p>
                    </div>
                </div> <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right mt-50">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <!-- course tab -->
                        <li class="nav-item">
                            <a class="active text-decoration-none" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses"
                                aria-selected="false">Courses</a>
                        </li>
                        <!-- dashboard tab -->
                        <li class="nav-item">
                            <a class="text-decoration-none" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab"
                                aria-controls="dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        <!-- review tab -->
                        <li class="nav-item">
                            <a class="text-decoration-none" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                aria-selected="false">Reviews</a>
                        </li>
                    </ul> <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <!-- tab course detail -->
                        <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="courses-cont pt-20">
                                <!-- add a '+' button to open up model and add course -->
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        
                                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <a href=""></a><i class="fa-solid fa-plus fa-xl"></i></button>
                                    </div>
                                </div>

                                <!-- model: add course starts-->
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content mx-5 my-5">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <!-- Add course form -->
                                                <form id="add-course-form-id" action="" method="POST" enctype="multipart/form-data" novalidate>
                                                    <div class="mx-auto w-75">
                                                        {% csrf_token %}

                                                        <!-- course form -->
                                                        {{ course_form|crispy }}

                                                        <br>

                                                        <!-- requirement inline form -->
                                                        <div class="bg-info px-2 pt-2 pb-2">
                                                            <h6>Requirements</h6>
                                                        </div>
                                                        <br>
                                                        {{ requirement_formset.management_form }}
                                                        {% for form in requirement_formset %}
                                                        <div class="d-inline-flex w-100">
                                                            {{ form|crispy }}
                                                        </div>
                                                        
                                                        {% endfor %}

                                                        
                                                        <!-- what you will learn form -->
                                                        <div class="bg-info px-2 pt-2 pb-2">
                                                            {{ what_you_will_learn_formset.management_form }}
                                                            <h6>What You will Learn</h6>
                                                        </div>
                                                        <br>
                                                        {% for form in what_you_will_learn_formset %}
                                                        <div class="row">
                                                            {{ form|crispy }}
                                                        </div>
                                                        
                                                        {% endfor %}

                                                        <!----display validation errors through ajax-->
                                                        <div class="mx-auto">
                                                            <p class="text-danger" id="alert-error"></p>
                                                        </div>
                                                        <!-- what you will learn form ends -->
                                                        <div class="d-flex justify-content-center">
                                                            <button type="submit" id="add-course-button" name="course-submit-btn" class="btn btn-warning my-3">Add Course</button>
                                                        </div>
                                                    </div>
                                                   
                                                </form>
                                                <!-- end course form -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- model:add course ends -->


                                {% for course in instructor.course_set.all reversed %}
                                <div class="row">
                                    <!-- single course cell-->
                                    <div class="col">
                                        
                                        <div class="col">
                                            <div class="singel-course mt-30">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 d-flex justify-content-center">
                                                        <div class="thum ">
                                                            <div class="image">
                                                                <img src="{{ course.featured_image_url }}" alt="Course">
                                                            </div>
                                    
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="shopping-cont">
                                    
                                                                    <a href="{% url 'lms_main:instructor-my-course' course.slug %}" class="text-decoration-none">
                                                                        <h4>{{ course.title }}</h4>
                                                                    </a>
                                    
                                                                </div>
                                                            </div>
                                                            <!-- draft & publish section -->
                                                            <div class="col-3 d-flex justify-content-end">
                                                                <div class="row">
                                                                    <div class="shopping-cont">
                                                                        {% if course.status == 'DRAFT' %}
                                                                        <span>
                                                                            <b class="text-danger">Draft </b>
                                                            
                                                                        </span>
                                                                        {% else %}
                                                                        <span>
                                                                            <b class="text-success">Published</b>
                                                                            
                                                                        </span>
                                                                        {% endif %}
                                                            
                                                            
                                                            
                                                            
                                                                    </div>
                                                                </div>
                                                            
                                                            </div>
                                                            
                                    
                                                        </div>
                                    
                                                        <div class="row d-flex align-items-end">
                                                            <div class="col-5 d-flex justify-content-end">
                                                                <div class="shopping-cont">
                                    
                                                                    <a href="#" class="text-secondary text-decoration-none" id="edit-link" data-course-id="{{ course.id }}" data-toggle="modal" data-target="#edit-course"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-5 d-flex justify-content-end">
                                                                <div class="shopping-cont">
                                    
                                                                    <a href="#" class="text-secondary text-decoration-none" id="remove" data-course-id=""><i
                                                                            class="fa-solid fa-trash"></i>&nbsp;&nbsp;Delete</a>
                                    
                                                                </div>
                                                            </div>
                                    
                                                        </div>

                                                        <!-- model: edit course & add lesson-videos to the course starts-->
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="edit-course" tabindex="-1" aria-labelledby="lessonLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                                                <div class="modal-content mx-5 my-5">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="lessonLabel">Edit Course</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                        
                                                                        <!-- Add lesson form -->
                                                                        <form id="edit-course-form-id" action="" method="POST" novalidate>
                                                                            <div class="mx-auto w-75">
                                                                                {% csrf_token %}
                                                        
                                                                                <!-- course form -->
                                                                                {{ lesson_form|crispy }}
                                                        
                                                                                <br>
                                                        
                                                                                <!-- Video inline form -->
                                                                                <div class="bg-info px-2 pt-2 pb-2">
                                                                                    <h6>Videos</h6>
                                                                                </div>
                                                                                <br>
                                                                                {{ video_formset.management_form }}
                                                                                {% for form in video_formset %}
                                                                                <div class="d-inline-flex w-100">
                                                                                    {{ form|crispy }}
                                                                                </div>
                                                        
                                                                                {% endfor %}
                                                        
                
                                                        
                                                                                <!----display validation errors through ajax-->
                                                                                <div class="mx-auto">
                                                                                    <p class="text-danger" id="alert-error"></p>
                                                                                </div>
                                                                                <!-- what you will learn form ends -->
                                                                                <div class="d-flex justify-content-center">
                                                                                    <button type="submit" name="lesson-submit-btn" id="" class="btn btn-warning my-3">Add
                                                                                        Lesson & Video</button>
                                                                                </div>
                                                                            </div>
                                                        
                                                                        </form>
                                                                        <!-- end course form -->
                                                                    </div>
                                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- model:add course ends -->
                                                    </div>
                                                </div> <!--  row  -->
                                            </div> <!-- singel course -->
                                        </div>
                                        
                                    </div>
                                </div> <!-- row -->
                                {% endfor %}
                            </div> <!-- courses cont -->
                        </div>
                        <div class="tab-pane fade" id="dashboard" role="tabpanel"
                            aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-40">
                                    <h5>About</h5>
                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum
                                        auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh
                                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .
                                    </p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>Acchivments</h5>
                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum
                                        auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh
                                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .
                                    </p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>My Objective</h5>
                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum
                                        auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh
                                        vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .
                                    </p>
                                </div> <!-- singel dashboard -->
                            </div> <!-- dashboard cont -->
                        </div>
                        
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="reviews-cont">
                                <div class="title">
                                    <h6>Student Reviews</h6>
                                </div>
                                <ul>
                                    <li>
                                        <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img src="images/review/r-1.jpg" alt="Reviews">
                                                </div>
                                                <div class="author-name">
                                                    <h6>Bobby Aktar</h6>
                                                    <span>April 03, 2019</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which.</p>
                                                <div class="rating">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    <span>/ 5 Star</span>
                                                </div>
                                            </div>
                                        </div> <!-- singel reviews -->
                                    </li>
                                    <li>
                                        <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img src="images/review/r-2.jpg" alt="Reviews">
                                                </div>
                                                <div class="author-name">
                                                    <h6>Humayun Ahmed</h6>
                                                    <span>April 13, 2019</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which.</p>
                                                <div class="rating">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    <span>/ 5 Star</span>
                                                </div>
                                            </div>
                                        </div> <!-- singel reviews -->
                                    </li>
                                    <li>
                                        <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img src="images/review/r-3.jpg" alt="Reviews">
                                                </div>
                                                <div class="author-name">
                                                    <h6>Tania Aktar</h6>
                                                    <span>April 20, 2019</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which.</p>
                                                <div class="rating">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    <span>/ 5 Star</span>
                                                </div>
                                            </div>
                                        </div> <!-- singel reviews -->
                                    </li>
                                </ul>
                                <div class="title pt-15">
                                    <h6>Leave A Comment</h6>
                                </div>
                                <div class="reviews-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    <input type="text" placeholder="Fast name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    <input type="text" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <div class="rate-wrapper">
                                                        <div class="rate-label">Your Rating:</div>
                                                        <div class="rate">
                                                            <div class="rate-item"><i class="fa fa-star"
                                                                    aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star"
                                                                    aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star"
                                                                    aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star"
                                                                    aria-hidden="true"></i></div>
                                                            <div class="rate-item"><i class="fa fa-star"
                                                                    aria-hidden="true"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <textarea placeholder="Comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <button type="button" class="main-btn">Post Comment</button>
                                                </div>
                                            </div>
                                        </div> <!-- row -->
                                    </form>
                                </div>
                            </div> <!-- reviews cont -->
                        </div>
                    </div> <!-- tab content -->
                </div> <!-- teachers right -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== EVENTS PART ENDS ======-->




<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->



<script>



    $(document).ready(function(){

        // var alertError = document.getElementById('alert-error')
        var alertError = $('#alert-error');
        console.log(alertError);
        // alertError.hide(); 

        

        

        $('#add-course-form-id').on('submit', function(event){
            event.preventDefault();

            var add_course_form_id = $("#add-course-form-id")
            var formData = new FormData(add_course_form_id.get(0));
            formData.append('form_type', 'course-submit-btn')
            console.log(formData)

            $.ajax({
                url: "{% url 'lms_main:instructor-dashboard' %}",
                type: "POST",
                header: { 'X-CSRFToken': csrftoken },
                data: formData,
                dataType: 'json',
                cache: false,
                processData: false,
                contentType: false,
                success: function (response) {
                    var success = response['success']
                    if (success) {
                        // alert("User created successfully")
                        // alert("course added")
                         $('#exampleModal').modal('hide');

                        // Refresh the current page
                        location.reload();
                    }
                    else {
                        alert("error adding")
                        var course_form_errors = response['course_form_errors']
                        var requirement_form_errors = response['requirement_form_errors']


                        $.each(course_form_errors, function (index, value) {
                            // alertError.text += index + ":" + value[0] + "<br>"
                            alertError.append(index + ":" + value[0] + "<br>")
                            console.log(index, value[0])
                        });
                    }
                },
                failure: function (error) {
                    alert("Error occured while calling django view")
                }
            });
        });

    // Ajax:edit/add lesson and video to the course
    $('#edit-course-form-id').on('submit', function (event) {
            event.preventDefault();

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            console.log(csrftoken)

            var edit_course_form_id = $("#edit-course-form-id")
            var courseId = $("#edit-link").data("course-id");
            var formData = edit_course_form_id.serialize() + '&lesson-submit-btn=1' + '&course_id=' + courseId;
            console.log(courseId)
            console.log(formData)
            // var formData = new FormData(edit_course_form_id.get(0));
            // console.log(formData)

            $.ajax({
                url: "{% url 'lms_main:instructor-dashboard' %}",
                type: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: formData,
                dataType: 'json',
                success: function (response) {
                    var success = response['success']
                    if (success) {
                        alert("lesson success")
                        // clear all field of the modal
                        $("#edit-course-form-id")[0].reset();
                        /* Message box--window.confirm()---:
                        You want to add more lessons:
                        YES->display modal with clear field;
                        NO->close the modal 
                        return to dashboard

                        */
                       if (window.confirm("Do you want to add more lesson?") == true){
                            // Pressed 'OK'
                            // clear modal and load the modal
                            
                            $('#edit-course').modal('show');

                       }
                       else{
                            //  Pressed 'Cancel'
                            // close the modal and refresh the dashboard page
                            $('#edit-course').modal('hide');
                            location.reload();

                       }
                    }
                    else {
                        alert("error on adding lessons")
                        var lesson_form_errors = response['lesson_form_errors']
                        var video_form_errors = response['video_form_errors']
                        console.log(lesson_form_errors)
                        console.log(video_form_errors)


                        $.each(lesson_form_errors, function (index, value) {
                            // alertError.text += index + ":" + value[0] + "<br>"
                            alertError.append(index + ":" + value[0] + "<br>")
                            console.log(index, value[0])
                        });
                        $.each(video_form_errors, function (index, value) {
                            // alertError.text += index + ":" + value[0] + "<br>"
                            alertError.append(index + ":" + value[0] + "<br>")
                            console.log(index, value[0])
                        });
                    }
                },
                failure: function (error) {
                    alert("Error occured while calling django view")
                }
            })


    });

});


</script>
{% endblock %}