{% extends 'lms_main/base.html' %}
{% load static %}

{% load course_tags %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}

{% block main %}


<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>Checkout</h3>
                    </div> <!-- title -->
                    <h5>Order details</h5>
                    {% for item in items_in_cart %}
                    <div class="corses-tab mt-20">
                        <div class="container">
                            <div class="row">
                                <div class="col my-4">
                                    <img src="{{ item.featured_image_url }}" alt="" width="150", height="100">
                                </div>
                                <div class="col my-4">
                                    <h5>{{ item.title }}</h5>
                                </div>
                                <div class="col my-4 d-flex justify-content-end">
                                    <span>
                                        <b>&#36;{% discount_calculation item.price item.discount %}</b>
                                        <span class="old-price" style="color: grey;font-weight: normal;">&#36;{{ item.price }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>Learn basis javascirpt Lecture Started</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.1</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingTow">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseTow" aria-expanded="true"
                                                    aria-controls="collapseTow">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.2</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseTow" class="collapse" aria-labelledby="headingTow"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.3</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFore">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseFore" aria-expanded="false"
                                                    aria-controls="collapseFore">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.4</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.5</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSix">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.6</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSeven">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseSeven" aria-expanded="false"
                                                    aria-controls="collapseSeven">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.7</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author">
                                        <div class="author-thum">
                                            <img src="images/instructor/i-1.jpg" alt="Instructor">
                                        </div>
                                        <div class="author-name">
                                            <a href="#">
                                                <h5>Sumon Hasan</h5>
                                            </a>
                                            <span>Senior WordPress Developer</span>
                                            <ul class="social">
                                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="instructor-description pt-25">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fuga
                                            ratione molestiae unde provident quibusdam sunt, doloremque. Error omnis
                                            mollitia, ex dolor sequi. Et, quibusdam excepturi. Animi assumenda,
                                            consequuntur dolorum odio sit inventore aliquid, optio fugiat alias.
                                            Veritatis minima, dicta quam repudiandae repellat non sit, distinctio,
                                            impedit, expedita tempora numquam?</p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-1.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Bobby Aktar</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-2.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Humayun Ahmed</h6>
                                                        <span>April 13, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-3.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Tania Aktar</h6>
                                                        <span>April 20, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Fast name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <div class="rate-wrapper">
                                                            <div class="rate-label">Your Rating:</div>
                                                            <div class="rate">
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <textarea placeholder="Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button type="button" class="main-btn">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                    {% endfor %}
                </div> <!-- corses singel left -->

            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                            <h4>Summary </h4>
                            <ul>
                                <li style="border-bottom: 0;">
                                    <i class="fa-solid fa-tag"></i>Total Price : <span>{{ total_price }}</span>
                                </li>
                                <li style="border-bottom: 1px solid #d2d2d2;">
                                    <i class="fa-solid fa-percent"></i>Discounts : <span>-{{ total_discount }}</span>
                                </li>
                            
                            </ul>
                            <div class="price-button pt-10">
                                <span>Price : <b>{{ amount_to_pay }}</b></span>
                                <div><a href="#" class="main-btn">Make Payment</a></div>
                            </div>
                            <div>
                                
                                    {{ form.render }}
                
                            </div>
                        </div> <!-- course features -->
                    </div>
                    
                </div>
            </div>
        </div> <!-- row -->
        
    </div> <!-- container -->
</section>

{% include 'lms_main/components/footer.html' %}

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->

{% endblock %}