{% extends 'lms_main/base.html' %}
{% load static %}

{% load course_tags %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}

{% block main %}
<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url('{% static 'images/page-banner-2.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Save For Later</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES PART START ======-->

<section id="courses-part" class="pt-120 pb-120 gray-bg">
    <div class="container">

        <div class="d-flex flex-column bd-highlight mb-3">
            {% if user_saved_courses %}
                <div class="p-2 bd-highlight"><h3>{{ user_saved_courses|length }}&nbsp; Item {{ user_saved_courses|pluralize }}</h3></div>
            {% else %}
            <div class="p-2 bd-highlight justify-content-center"><h3>YOUR SAVED LIST IS EMPTY</h3></div>
            <div class="p-2 bd-highlight"><img src="{% static 'images/cart/wishlist.jpg' %}" alt="" width="700" height="600" class="mx-auto"></div>
            {% endif %}
        </div>
        
        <div class="row">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="shop-grid" role="tabpanel" aria-labelledby="shop-grid-tab">
                    <div class="row justify-content-center">
                        {% for course in user_saved_courses %}
                        <div class="col-md-6 col-sm-8">
                            <div class="singel-publication mt-30">
                                <div class="image">
                                    <img src="{{ course.course.featured_image.url }}" alt="Publication">
                                    <div class="add-cart">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="name">
                                        <a href="shop-singel.html">
                                            <h6>{{ course.course.title }}</h6>
                                        </a>
                                        <span>$50.00</span>
                                    </div>
                                    <div class="button text-right">
                                        <a href="{% url 'lms_main:save-for-later-to-cart' %}" class="main-btn" id="btn-add-to-cart" data-course-id="{{ course.course.id }}">Add to Cart</a>
                                    </div>
                                </div>
                            </div> <!-- singel publication -->
                        </div>
                        {% endfor %}
                        
                    </div> <!-- row -->
                </div>
                <div class="tab-pane fade" id="shop-list" role="tabpanel" aria-labelledby="shop-list-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="singel-publication mt-30">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="image">
                                            <img src="images/publication/p-1.jpg" alt="Publication">
                                            <div class="add-cart">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="cont">
                                            <div class="name">
                                                <a href="shop-singel.html">
                                                    <h6>Set for life </h6>
                                                </a>
                                                <span>$50.00</span>
                                            </div>
                                            <div class="description pt-10">
                                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                    when an unknown printer took a galley.</p>
                                            </div>
                                            <div class="button">
                                                <a href="#" class="main-btn">Buy Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- singel publication -->
                        </div>
                        <div class="col-lg-6">
                            <div class="singel-publication mt-30">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="image">
                                            <img src="images/publication/p-2.jpg" alt="Publication">
                                            <div class="add-cart">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="cont">
                                            <div class="name">
                                                <a href="shop-singel.html">
                                                    <h6>Set for life </h6>
                                                </a>
                                                <span>$50.00</span>
                                            </div>
                                            <div class="description pt-10">
                                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                    when an unknown printer took a galley.</p>
                                            </div>
                                            <div class="button">
                                                <a href="#" class="main-btn">Buy Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- singel publication -->
                        </div>
                        <div class="col-lg-6">
                            <div class="singel-publication mt-30">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="image">
                                            <img src="images/publication/p-3.jpg" alt="Publication">
                                            <div class="add-cart">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="cont">
                                            <div class="name">
                                                <a href="shop-singel.html">
                                                    <h6>Set for life </h6>
                                                </a>
                                                <span>$50.00</span>
                                            </div>
                                            <div class="description pt-10">
                                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                    when an unknown printer took a galley.</p>
                                            </div>
                                            <div class="button">
                                                <a href="#" class="main-btn">Buy Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- singel publication -->
                        </div>
                        <div class="col-lg-6">
                            <div class="singel-publication mt-30">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="image">
                                            <img src="images/publication/p-4.jpg" alt="Publication">
                                            <div class="add-cart">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="cont">
                                            <div class="name">
                                                <a href="shop-singel.html">
                                                    <h6>Set for life </h6>
                                                </a>
                                                <span>$50.00</span>
                                            </div>
                                            <div class="description pt-10">
                                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                                    when an unknown printer took a galley.</p>
                                            </div>
                                            <div class="button">
                                                <a href="#" class="main-btn">Buy Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- singel publication -->
                        </div>
                    </div> <!-- row -->
                </div>
            </div> <!-- tab content -->




        </div>
    </div> <!-- row -->
    </div>
    </div> <!-- row -->

    </div> <!-- container -->
</section>

<!--====== COURSES PART ENDS ======-->

{% include 'lms_main/components/footer.html' %}

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->
<script>    
    $(document).ready(function () {
            // get csrf token from cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');
            $("#btn-add-to-cart").click(function(event){
                event.preventDefault();
                console.log("clicked");
                var courseId = $(this).data("course-id");
                console.log(courseId)

                // Send the POST request using AJAX
                $.ajax({
                    type: "POST",
                    url: "{% url 'lms_main:save-for-later-to-cart' %}", // Replace with your server endpoint
                    headers: { 'X-CSRFToken': csrftoken },
                    data: {
                        course_id: courseId,
                    },
                    success: function (response) {
                        console.log("Post saved for later!");
                        setInterval('location.reload()', 2000);

                    },
                    error: function (error) {
                        alert("Error saving post for later");
                    }
                });
            })
        })
</script>

{% endblock %}