{% extends 'lms_main/base.html' %}
{% load static %}

{% load course_tags %}
{% load time_tags %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}

{% block main %}

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url('{% static 'images/page-banner-2.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{ course.title}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Learn basic javasript</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES SINGEl PART START ======-->

<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>{{ course.title }}</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">
                                    <div class="thum w-25">
                                        <img src="{{ course.author.profile_image_url }}" alt="Teacher">
                                    </div>
                                    <div class="name">
                                        <span>Teacher</span>
                                        <h6>{{ course.author.instructor.first_name }}&nbsp; {{ course.author.instructor.last_name }}</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6>{{ course.category.name|title }}</h6>
                                </div>
                            </li>
                            <li>
                                <div class="review">
                                    <span>Review</span>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li class="rating">(20 Reviws)</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->

                    <div class="corses-singel-image pt-50">
                        <img src="{{ course.featured_image.url }}" alt="Courses">
                    </div> <!-- corses singel image -->

                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                                    aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab"
                                    aria-controls="curriculam" aria-selected="false">Curriculam</a>
                            </li>
                            <li class="nav-item">
                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab"
                                    aria-controls="instructor" aria-selected="false">Instructor</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                    aria-selected="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    {% if course.description %}
                                    <div class="singel-description pt-40">
                                        <h6>Course Description</h6>
                                        <p>{{ course.description }}</p>
                                    </div>
                                    {% endif %}
                                    {% if course.WhatYouWillLearn.all %}
                                    <div class="singel-description pt-40">
                                        <h6>What you'll Learn</h6>
                                        <p>{{ course.WhatYouWillLearn.all }}</p>
                                        <ul style="list-style-type: square;">
                                            {% for points in course.whatyouwillearn_set.all %}
                                            <li>
                                                <p>{{ points.points }}</p>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}

                                    {% if course.requirement_set.all %}
                                    <div class="singel-description pt-40">
                                        <h6>Requirements</h6>
                                        <ul style="list-style-type: square;">
                                            {% for requirement in course.requirement_set.all %}
                                            <li><p>{{ requirement.requirement_points}}</p></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div> <!-- overview description -->
                            </div>
                            
                            <!-- Curriculam tab -->
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="accordion" id="accordionExample">
                                        {% for lesson in lessons %}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" class="accordion-button collapsed" data-toggle="collapse" data-target="#id{{lesson.id}}" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    <ul>
                                                        <li></li>
                                                        <li><span class="lecture">{{forloop.counter}}.&nbsp;</span></li>
                                                        <li>
                                                            
                                                                <span class="head">{{lesson.name}}</span>
                                                            
                                                        </li>
                                                        <li>
                                                            
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>

                                            {% for video in lesson.video_set.all|dictsort:"upload_date" %}
                                            <div id="id{{lesson.id}}" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <ul>
                                                        {% if user_enrolled_course %}
                                                            <li class="d-inline list-inline-item"><i class="fa-regular fa-play"></i></li>
                                                            <li class="d-inline list-inline-item">
                                                                <a href="https://www.youtube.com/watch?v={{ video.video_file.url}}" class="text-decoration-none text-secondary"
                                                                    >{{video.title}}</a>
                                                                    
                                                            </li>
                                                        {% else %}
                                                        
                                                            <li class="d-inline list-inline-item"><i class="fa-solid fa-play"></i></li>
                                                            <li class="d-inline list-inline-item">
                                                                <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="Enroll this course" class="text-decoration-none text-secondary">{{video.title}}</a>
                                                            </li>
                                                            <li style="float: right;"><span class="time d-none d-md-block">
                                                                <i class="fa fa-clock-o"></i>
                                                                <span>
                                                                    {% time_in_hrs_min_sec video.time_duration %}</span>
                                                            </span></li>
                                                            
                                                        {% endif %}
                                                        
                                                    </ul>
                                                    <p></p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                            
                                       
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>


                            <!-- Instructor tab  -->
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author">
                                        <div class="author-thum">
                                            <img src="{{ course.author.profile_image_url }}" alt="Instructor" class="rounded-circle w-25">
                                        </div>
                                        <div class="author-name">
                                            <a href="#">
                                                <h5>{{ course.author.instructor.first_name}}</h5>
                                            </a>
                                            <span>{{ course.author.designation }}</span>
                                            <ul class="social">
                                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="instructor-description pt-25">
                                        <p>{{ course.author.about_me }}</p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="{% static 'images/review/r-1.jpg' %}" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Bobby Aktar</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="{% static 'images/review/r-2.jpg' %}" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Humayun Ahmed</h6>
                                                        <span>April 13, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        <li>
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-3.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Tania Aktar</h6>
                                                        <span>April 20, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Fast name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <div class="rate-wrapper">
                                                            <div class="rate-label">Your Rating:</div>
                                                            <div class="rate">
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                                <div class="rate-item"><i class="fa fa-star"
                                                                        aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <textarea placeholder="Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button type="button" class="main-btn">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->

            </div>
            
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                            <h4>Course Features </h4>
                            <ul>
                        
                                <li><i class="fa fa-clock-o"></i>Duration : <span>{% time_in_hrs_min_sec total_time_duration_course %}</span></li>
                                <li><i class="fa fa-beer"></i>Level : <span>{{course.level.name_of_level}}</span></li>
                                <li><i class="fa fa-clone"></i>Lectures : <span>{{ no_of_videos }}</span></li>
                                <li><i class="fa fa-beer"></i>Quizzes : <span>05</span></li>
                                <li><i class="fa fa-user-o"></i>Students : <span>{{no_of_students_enrolled}}</span></li>
                            </ul>

                            {% if course.price == 0 %}
                                <div class="price-button pt-10">
                                    {% if user_enrolled_course %}
                
                                        <button type="button" class="btn btn-dark"><a class="text-light" href="{% url 'user:my-course-detail' course.slug %}">View Course</a></button>
                        
                                    {% else %}
                                    <span>Free</span><br>
                                    <form action="{% url 'lms_main:enroll-course' course.slug %}" method="POST" id="enroll-form">
                                        {% csrf_token %}
                                        <button class="main-btn mx-auto" type="submit">Enroll Now</button>
                                    </form>
                                    {% endif %}
                                    
                                </div>
                            {% else %}
                                <div class="price-button pt-10">
                               
                                    <span>Price : 
                                        <b>&#36;{% discount_calculation course.price course.discount %} </b>
                                        <span class="old-price" style="color: grey;font-weight: normal;">&#36;{{ course.price }}</span>
                                    </span>
                                    <br>
                                    {% if user_enrolled_course %}
                                    
                                    <button type="button" class="btn btn-dark"><a class="text-light"
                                            href="{% url 'user:my-course-detail' course.slug %}">View Course</a></button>
                                    
                                    {% else %}
                                        {% if course_exists_in_cart %}
                                            <a href="{% url 'lms_main:shopping-cart' %}">
                                                <button class="main-btn mx-auto">Go to Cart</button>
                                            </a>
                                        {% else %}
                                
                                            
                                                <form action="{% url 'lms_main:add-to-cart' course.slug %}" method="POST" id="add-to-cart-form">
                                                    <button class="main-btn mx-auto" id="cart-action-btn" data-course-id="{{ course.slug }}">Add to Cart</button>
                                                </form>
                                            
                                            
                                            
                                        {% endif %}
                                    
                                {% endif %}
                                    
                                </div>
                            {% endif %}
                        </div> <!-- course features -->
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="You-makelike mt-30">
                            <h4>You make like </h4>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#">
                                        <h4>Introduction to machine languages</h4>
                                    </a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#">
                                        <h4>How to build a basis game with java </h4>
                                    </a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <img src="images/your-make/y-1.jpg" alt="Image">
                                </div>
                                <div class="cont">
                                    <a href="#">
                                        <h4>Basic accounting from primary</h4>
                                    </a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                        <li>$50</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="releted-courses pt-95">
                    <div class="title">
                        <h3>Releted Courses</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/cu-2.jpg" alt="Course">
                                    </div>
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <div class="cont">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>(20 Reviws)</span>
                                    <a href="courses-singel.html">
                                        <h4>Learn basis javascirpt from start for beginner</h4>
                                    </a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="{% static 'images/course/teacher/t-2.jpg' %}" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h6>Mark anthem</h6>
                                            </a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                        <div class="col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="{% static 'images/course/cu-1.jpg' %}" alt="Course">
                                    </div>
                                    <div class="price">
                                        <span>Free</span>
                                    </div>
                                </div>
                                <div class="cont">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>(20 Reviws)</span>
                                    <a href="courses-singel.html">
                                        <h4>Learn basis javascirpt from start for beginner</h4>
                                    </a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="{% static 'images/course/teacher/t-3.jpg' %}" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                                <h6>Mark anthem</h6>
                                            </a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- releted courses -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== COURSES SINGEl PART ENDS ======-->

<!-- FOOTER TEMPLATES -->

{% include 'lms_main/components/footer.html' %}

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->


<!---=======Ajax cdn=======-->
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>

<!----cookie js library url-->
<!-- <script src="
    https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
    "></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<script>

        // Jquery 
    $(document).ready(function (){
         // Function to get the CSRF token from the cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrfToken = getCookie('csrftoken');

    
        // Enroll form on submit
        $('#enroll-form').submit(function(event){
            event.preventDefault();
            var my_token = '{{ csrf_token }}'
            
            $.ajax({
                type:"POST",
                url: $(this).attr('action'),
                header: { 'X-CSRFToken': my_token },
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success:function(response,textStatus, jqXHR){
                    var success = response['success']
                    if(success){
                        console.log("ajax request success");
                    }
                    else{
                        console.log("ajax request failed");
                        var currentUrl = window.location.href;
                        var loginUrl = "{% url 'user:login-user' %}" + "?next=" + encodeURIComponent(currentUrl);
                        // console.log(currentUrl);
                        // console.log("Redirecting to login:", loginUrl);
                        // console.log(response,textStatus,jqXHR);
                        window.location.href = loginUrl;
                    }
                
                },
                error:function(jqXHR,textStatus,errorThrown){
                    console.log("Error on ajax:")
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        })
        // // add to cart form on submit
        const button = $("#cart-action-btn");
        $('#add-to-cart-form').submit(function (event) {
            event.preventDefault();
            var my_token = '{{ csrf_token }}'

            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                header: { 'X-CSRFToken': my_token },
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (response, textStatus, jqXHR) {
                    var success = response['success']
                    if (success) {
                        console.log("ajax request success");
                        button.text('Go to Cart');
                        button.click(function () {
                            // Replace this with the actual URL of your cart page
                            window.location.href = "{% url 'lms_main:shopping-cart' %}";
                        });
                        
                    }
                    else {
                        console.log("ajax request failed");
                        var currentUrl = window.location.href;
                        var loginUrl = "{% url 'user:login-user' %}" + "?next=" + encodeURIComponent(currentUrl);
                        // console.log(currentUrl);
                        // console.log("Redirecting to login:", loginUrl);
                        // console.log(response,textStatus,jqXHR);
                        window.location.href = loginUrl;
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error on ajax:")
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        })
        
    })
</script>


    

{% endblock %}