{% extends 'lms_main/base.html' %}
{% load static %}

{% load course_tags %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}

{% block main %}



<section id="courses-part" class="pt-120 pb-120 gray-bg">
    <div class="container">
        <div class="row border border-dark">
            <div class="row d-flex align-items-center">
                <div><img src="{% static 'images/cart/success.png' %}" alt="" width="150" class="mx-auto"></div>
            </div>
                <div class="col-xl-8 mx-xl-auto d-flex align-items-center">
                    
                    <header class="entry-header">
                        <h1 class="entry-title">Order received</h1>
                    </header>
                
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="woocommerce-order">
                                <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">Thank you.
                                    Your order has been received.</p>
                                    
                                <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">
                                    <li class="woocommerce-order-overview__order order">
                                        Order number:
                                        <strong>{{order.order_no}}</strong>
                                    </li>
                
                                    <li class="woocommerce-order-overview__date date">
                                        Date:
                                        <strong>{{ order.order_date }}</strong>
                                    </li>
                
                                    <li class="woocommerce-order-overview__total total">
                                        Total:
                                        <strong><span class="woocommerce-Price-amount amount"><span
                                                    class="woocommerce-Price-currencySymbol">&#36;</span>{{ order.total_price }}</span></strong>
                                    </li>
                
                                    <li class="woocommerce-order-overview__payment-method method">
                                        Payment method:
                                        <strong>Check payments</strong>
                                    </li>
                                </ul>
                                
                                <section class="woocommerce-order-details">
                                    <h2 class="woocommerce-order-details__title">Order details</h2>
                                    <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">
                                        <thead>
                                            <tr>
                                                <th class="woocommerce-table__product-name product-name">Course</th>
                                                <th class="woocommerce-table__product-table product-total">Total</th>
                                            </tr>
                                        </thead>
                
                                        <tbody>
                                            {% for item in order_items %}
                                            <tr class="woocommerce-table__line-item order_item">
                                                <td class="woocommerce-table__product-name product-name">
                                                    <p>{{ item.course.title }}</p>
                                                    
                                                </td>
                
                                                <td class="woocommerce-table__product-total product-total">
                                                    <span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol">$</span>{{ item.item_price }}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                
                                            
                                        </tbody>
                
                                        <tfoot>
                                            
                                            <tr>
                                                <th scope="row">Total:</th>
                                                <td><span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol">$</span>{{ order.total_price }}</span></td>
                                            </tr>
                                            
                                        </tfoot>
                                    </table>
                                </section>
                
                                <section class="woocommerce-customer-details">
                                    <h2 class="woocommerce-column__title">Billing address</h2>
                                    <address>
                                        {{ order.student.student.full_name }}
                                        <p class="woocommerce-customer-details--phone">90909090</p>
                                        <p class="woocommerce-customer-details--email">{{ order.student.student.email }}</p>
                                    </address>
                                </section>
                                <section>
                                    <button class="btn btn-warning"><a class="text-light" href="{% url 'lms_main:home' %}">Home</a></button>
                                    <button class="btn btn-success"><a href=""></a>Print receipt</button>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
        
            
            
        </div>
        
    </div> <!-- row -->
    <!-- row -->

    
</section>

{% include 'lms_main/components/footer.html' %}
<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->



{% endblock %}