
{% extends 'lms_main/base.html' %}

{% load static %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<div class="container-fluid h-100">
    <div class="row">
        <div class="col-3 h-100 p-4">
            <!-- Profile Image row -->
            <div class="row d-flex justify-content-center my-2">
                <img src="{{ user.student.profile_image_url }}" alt="profile image" class="w-50" style="border-radius: 50%;">
            </div>
            <!-- Name row -->
            <div class="row d-flex justify-content-center my-3">
                <h5 class="text-center">{{ user.full_name }}</h5>
                <h6 class="text-center text-secondary">{{ user.email }}</h6>
            </div>
            <hr>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item" id="profile">
                    <a class="text-dark" href="">Update Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item" id="course">
                    <a class="text-dark" href="">My Courses</a>
                </div>
            </div>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item" id="course">
                    <a class="text-dark" href="">Chat</a>
                </div>
            </div>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item" id="course">
                    <a class="text-dark" href="">Dummy</a>
                </div>
            </div>
            
            

        </div>
        <div class="col-9" style="background: #edf0f2;">
            <div class="row justify-content-evenly">
                {% for course in my_courses %}
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <div class="singel-publication mt-30 h-100">
                        <div class="image">
                            <img src="{{ course.course.featured_image.url }}" alt="enrolled-course">
                            
                        </div>
                        <div class="cont">
                            <div class="name">
                                <a href="{% url 'student:my-course-detail' course.course.slug %}">
                                    <h6>{{ course.course.title }}</h6>
                                </a>
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 25%">25%</div>
                            </div>
                        </div>
                    </div> <!-- singel publication -->
                </div>
                {% endfor %}
                
            </div> <!-- row -->
        </div>
    </div>
</div>





<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->

<script>
    $(document).ready(function(){
        let selectedItem = null;

        $('.menu-item').click(function () {
            console.log("clicked")
            text = $(this).html();
            console.log(text);
            // $(this).addClass('selected');
        });
    });
    
</script>

{% endblock %}
