{% extends 'lms_main/base.html' %}
{% load static %}

{% load course_tags %}
{% load time_tags %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}

{% block main %}

<!--====== COURSES DETAIL PART START ======-->

<div class="container-fluid">
    <div class="row">
        <div class="col-8 border border-danger px-5 py-2">
            <div class="w-100 h-25">
                {% if last_played_video %}
                <video id="videoFrame" preload="preload" width="100%" height="100%" controls muted>
                    <source id="videoSource" src="{{ last_played_video.video.video_file.url }}" type="video/mp4">
                        </source>
                </video>

                {% else %}
                <video id="videoFrame" controls="controls" preload="preload" width="100%" height="100%" autoplay="autoplay">
                        {% if videos %}
                        {% for video in videos|slice:"0:1" %}
                        <source id="videoSource" src="{{ video.video_file.url }}" type="video/mp4">
                        </source>
                        {% endfor %}
                        {% endif %}
                    
                </video>
                {% endif %}
                
            </div>
            <!-- course description part -->
            <div class="overview-description">
                <div class="singel-description pt-40">
                    <h5>Course Description</h5>
                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis
                        sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                        velit. Nam nec tellus .</p>
                </div>
            </div> <!-- overview description -->
            <!-- course description part ends -->
            <!-- Group discussion part -->
            <div class="reviews-cont">
                <div class="title">
                    <h6>Group discussion</h6>
                </div>
                <ul>
                    <li>
                        <div class="singel-reviews">
                            <div class="reviews-author">
                                <div class="author-thum">
                                    <img src="" alt="Reviews">
                                </div>
                                <div class="author-name">
                                    <h6>Bobby Aktar</h6>
                                    <span>April 03, 2019</span>
                                </div>
                            </div>
                            <div class="reviews-description pt-20">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or randomised words which.</p>
                                <div class="rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>/ 5 Star</span>
                                </div>
                            </div>
                        </div> <!-- singel reviews -->
                    </li>
                    <li>
                        <div class="singel-reviews">
                            <div class="reviews-author">
                                <div class="author-thum">
                                    <img src="" alt="Reviews">
                                </div>
                                <div class="author-name">
                                    <h6>Humayun Ahmed</h6>
                                    <span>April 13, 2019</span>
                                </div>
                            </div>
                            <div class="reviews-description pt-20">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or randomised words which.</p>
                                <div class="rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>/ 5 Star</span>
                                </div>
                            </div>
                        </div> <!-- singel reviews -->
                    </li>
                    <li>
                        <div class="singel-reviews">
                            <div class="reviews-author">
                                <div class="author-thum">
                                    <img src="#" alt="Reviews">
                                </div>
                                <div class="author-name">
                                    <h6>Tania Aktar</h6>
                                    <span>April 20, 2019</span>
                                </div>
                            </div>
                            <div class="reviews-description pt-20">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or randomised words which.</p>
                                <div class="rating">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                    <span>/ 5 Star</span>
                                </div>
                            </div>
                        </div> <!-- singel reviews -->
                    </li>
                </ul>
                <div class="title pt-15">
                    <h6>Leave A Comment</h6>
                </div>
                <div class="reviews-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-singel">
                                    <input type="text" placeholder="Fast name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-singel">
                                    <input type="text" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-singel">
                                    <div class="rate-wrapper">
                                        <div class="rate-label">Your Rating:</div>
                                        <div class="rate">
                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                            <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-singel">
                                    <textarea placeholder="Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-singel">
                                    <button type="button" class="main-btn">Post Comment</button>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </form>
                </div>
            </div> <!-- reviews cont -->
            <!-- Group discussion part ends -->
        </div>
    <!-- Right Part -->
        <div class="col-4 border border-warning">
            <div class="accordion" id="accordionExample">
                {% for lesson in lessons %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="#" class="accordion-button collapsed" data-toggle="collapse" data-target="#id{{lesson.id}}"
                            aria-expanded="true" aria-controls="collapseOne">
                            <ul>
                                <li></li>
                                <li><span class="lecture">{{forloop.counter}}.&nbsp;</span></li>
                                <li>
            
                                    <span class="head">{{lesson.name}}</span>
            
                                </li>
                                <li>
            
                                </li>
                            </ul>
                        </a>
                    </div>
            
                    {% for video in lesson.video_set.all|dictsortreversed:"upload_date" %}
                    <div id="id{{lesson.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                {% for watch_video in watched_video %}
                                    {% if watch_video.video.title == video.title %}
                                        <li class="d-inline list-inline-item"><i class="fa-solid fa-check" style="color: green;"></i></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="d-inline list-inline-item"><i class="fa-solid fa-play"></i></li>
                                <li class="d-inline list-inline-item">
                                    <!-- <a id="video-id-link" href="{{ video.video_file.url}}"
                                        class="text-decoration-none text-secondary">{{video.title}}</a> -->
                                        <button class="btn btn-link text-decoration-none text-dark" id="video-btn" data-videoUrl="{{ video.video_file.url}}">{{video.title}}</button>
            
                                </li>
                                <li style="float: right;"><span class="time d-none d-md-block">
                                        <i class="fa fa-clock-o"></i>
                                        <span>
                                            {% time_in_hrs_min_sec video.time_duration %}</span>
                                    </span></li>
                                
            
                            </ul>
                            <p></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            
            
            </div>
        </div>
    </div>
</div>


<!--====== COURSES DETAIL PART ENDS ======-->

{% include 'lms_main/components/footer.html' %}

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->

<!-- Javascript starts here -->
<script>

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    const csrftoken = getCookie('csrftoken');

    const buttonContainer = document.getElementById('accordionExample');
    const video = document.getElementById('videoFrame');
    const videoSource = document.getElementById('videoSource');
     console.log("loaded")

    console.log("{{ last_played_video.pause_time }}")
    document.addEventListener('DOMContentLoaded', function () {
        var pauseTime = "{{ last_played_video.pause_time }}";

        // Set the currentTime of the video to the retrieved pause_time
        if (!isNaN(pauseTime)) {
            video.currentTime = pauseTime;
        }

        // Add an event listener to play the video when metadata is loaded
        video.addEventListener('loadedmetadata', function () {
            this.play();
        });
    });
    //  console.log(video.currentTime)

    //  video.onpause = function() {
    //     console.log(video.currentTime)
    //  }


    //  video.onended = function(){
    //     console.log("Video ended")
    //  }
    
    // Add a click event listener to the parent element
    buttonContainer.addEventListener('click', function (event) {
        // Check if the clicked element is a button with the data-videoUrl attribute
        if (event.target.tagName === 'BUTTON' && event.target.hasAttribute('data-videoUrl')) {
            event.preventDefault();
            const videoUrl = event.target.getAttribute('data-videoUrl');
            // console.log('Clicked on button with video URL:', videoUrl);
            videoSource.setAttribute('src', videoUrl);
            video.load();
            video.play();
        }
    });

    $(document).ready(function (){

        $(video).on('playing', function(event){
            console.log("Started Playing");
        })

        $(video).on('pause', function (event) {
            event.preventDefault();
            let suspendTime = (this.currentTime).toFixed(2);
            let currentVideoUrl = videoSource.getAttribute('src'); 
            console.log(suspendTime);
            currentVideoUrl = currentVideoUrl.replace('/media/','');

            $.ajax({
                type:"POST",
                url: "{% url 'student:track-video' %}",
                contentType: 'application/json',
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify({
                    'suspended_time': suspendTime,
                    'currentVideoUrl':currentVideoUrl}),
                success: function(response){
                    if (response['success']){
                        console.log("success");
                    } else {
                        console.log("error")
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        });


        // Ajax post when video is ended or watched completely
        $(video).on('ended', function (){
            event.preventDefault();

            console.log("Video ended");
            let currentVideoUrl = videoSource.getAttribute('src');
            currentVideoUrl = currentVideoUrl.replace('/media/', '');
             console.log(currentVideoUrl);

            $.ajax({
                type: "POST",
                url: "{% url 'student:save-watched-video' %}",
                contentType: 'application/json',
                headers: { 'X-CSRFToken': csrftoken },
                data: JSON.stringify({
                    'currentVideoUrl': currentVideoUrl
                }),
                success: function (response) {
                    if (response['success']) {
                        console.log("success");
                    } else {
                        console.log("error")
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        });

        
    });
</script>

<!-- Javascript ends here -->

{% endblock %}