
{% extends 'lms_main/base.html' %}

{% load static %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<h1>welcome dear Learner{{ user.user_firstname }}</h1>
<br><br><br>
{% if user.is_authenticated %}
<h1>Authenticated</h1>
<h5>{{ user.first_name }}</h5>
<h5>{{ user.last_name }}</h5>
<h5>{{ user.email }}</h5>

    {% if user.student.profile_image %}
    <img src="{{ user.student.profile_image.url }}" alt="profile image">
    {% else %}
    <img src="{% static 'images/teachers/t-4.jpg' %}" alt="">
    {% endif %}
{% else %}
<h1>Not authenticated</h1>
{% endif %}




<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->

{% endblock %}
