
{% extends 'lms_main/base.html' %}

{% load static %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 border border-info h-100 p-4">
            <!-- Profile Image row -->
            <div class="row d-flex justify-content-center my-2">
                <img src="{{ user.student.profile_image_url }}" alt="profile image" class="w-50" style="border-radius: 50%;">
            </div>
            <!-- Name row -->
            <div class="row d-flex justify-content-center my-3">
                <h5 class="text-center">{{ user.full_name }}</h5>
                <h6 class="text-center text-secondary">{{ user.email }}</h6>
            </div>
            <hr>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item"></div>
                    <a class="text-dark" href="">Update Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="text-center p-2 m-2 menu-item"></div>
                    <a class="text-dark" href="">My Course</a>
                </div>
            </div>
            <div class="row"></div>
            <div class="row"></div>

        </div>
        <div class="col-9 border border-danger"></div>
    </div>
</div>





<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->

<script>
    
</script>

{% endblock %}
