{% extends 'lms_main/base.html' %}

{% load static %}

{% load course_tags %}
{% load time_tags %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% crispy signup_form %}

{% block navbar %}
{% include 'lms_main/components/navbar.html' %}
{% endblock %}



{% block main %}

<!--====== TEACHERS PART START ======-->

<section id="teachers-singel" class="pt-70 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-30">
                    <div class="hero">
                        <img src="{{ instructor.profile_image }}" alt="Teachers">
                    </div>
                    <div class="name">
                        <h6>{{ instructor.full_name }}</h6>
                        <span>{{ instructor.designation}}</span>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="description">
                        <h5>About me</h5>
                        <p>{{instructor.about}}</p>
                    </div>
                </div> <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <!-- button to create a quiz -->
                    <div class="row my-2">
                        <div class="col-6 d-flex justify-content-start">
                            <button type="button" class="btn btn-light">
                                <a href=""><i class="fa-solid fa-arrow-left" style="color: #080808;"></i></a>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button type="button" class="btn btn-dark"  data-bs-toggle="modal" data-bs-target="#quiz-form-model">Create quiz for course</button>
                        </div>
                    </div>
                    <!-- Modal for Quiz form starts -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="quiz-form-model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Quiz</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Quiz form here -->
                                    <form action="" name="quiz-form" method="POST" id="quiz-form-id">
                                        {% csrf_token %}
                                        <!-- question form -->
                                        {{ question_form|crispy }}
                                        
                                        <br>
                                        
                                        <!-- quiz option inline form -->
                                        <div class="bg-info px-2 pt-2 pb-2">
                                            <h6>Options</h6>
                                        </div>
                                        <br>
                                        {{ quiz_option_formset.management_form }}
                                        {% for form in quiz_option_formset %}
                                        <div class="d-inline-flex w-100">
                                            {{ form|crispy }}
                                        </div>
                                        
                                        {% endfor %}
                                        <!----display validation errors through ajax-->
                                        <div class="mx-auto">
                                            <p class="text-danger" id="alert-error"></p>
                                        </div>
                                        <!-- what you will learn form ends -->
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" id="" name="quiz-form-btn" class="btn btn-warning my-3">Add
                                                question & options</button>
                                        </div>

                                    </form>
                                    <!-- Quiz form ends here -->
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Modal for quiz form ends -->

                    <div class="row">
                        <div class="col-8">
                            <div class="title">
                                <h3>{{ course.title|title }}</h3>
                            </div> <!-- title -->
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <div>
                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add-lesson-video">
                                    <a href=""></a><i class="fa-solid fa-plus fa-xl"></i></button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- model: add lesson and video starts-->
                    <!-- Modal -->
                    <div class="modal fade" id="add-lesson-video" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content mx-5 my-5">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Lesson & Video</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                    
                                    <!-- Add course form -->
                                    <form id="add-lesson-form-id" action="" method="POST" novalidate>
                                        <div class="mx-auto w-75">
                                            {% csrf_token %}
                    
                                            <!-- course form -->
                                            {{ lesson_form|crispy }}
                    
                                            <br>
                    
                                            <!-- requirement inline form -->
                                            <div class="bg-info px-2 pt-2 pb-2">
                                                <h6>Video</h6>
                                            </div>
                                            <br>
                                            {{ video_formset.management_form }}
                                            {% for form in video_formset %}
                                            
                                            <div class="d-inline-flex w-100">
                                                {{ form|crispy }}
                                            </div>
                    
                                            {% endfor %}
                    
                    
                    
                                            <!----display validation errors through ajax-->
                                            <div class="mx-auto">
                                                <p class="text-danger" id="alert-error"></p>
                                            </div>
                                            <!-- what you will learn form ends -->
                                            <div class="d-flex justify-content-center">
                                                <button type="submit" id="" name="lesson-submit-btn"
                                                    class="btn btn-warning my-3">Add
                                                    Lesson & Video</button>
                                            </div>
                                        </div>
                    
                                    </form>
                                    <!-- end course form -->
                                </div>
                    
                            </div>
                        </div>
                    </div>
                    <!-- model:add course ends -->
                    
                    <div class="corses-singel-image pt-20">
                        <img src="{{ course.featured_image_url }}" alt="Courses" width="50" height="150" class="w-50 mx-auto">
                    </div> <!-- corses singel image -->    
                    <div class="accordion mt-20" id="accordionExample">
                        {% for video in videos %}
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button w-100" type="button" data-bs-toggle="collapse" data-bs-target="#id{{ video.lesson.id }}"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <ul>
                                            <li class="d-inline list-inline-item">{{forloop.counter}}.&nbsp;</li>
                                            <li class="d-inline list-inline-item">{{ video.lesson.name }}</li>
                                            <li><a href="" name="edit-link" data-toggle="modal" data-target="#edit-lesson-modal" id="edit-lesson-link" data-lesson-id="{{ video.lesson.id }}"><i class="fas fa-edit"></i></a></li>
                                            
                                        </ul>
                                        
                                    </button>
                                </h2>
                                <div id="id{{ video.lesson.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li class="d-inline list-inline-item"><i class="fa-brands fa-youtube" style="color: red;"></i></li>
                                            <li class="d-inline list-inline-item">
                                                <a href="https://www.youtube.com/watch?v={{ video.video_file.url}}" class="text-decoration-none text-secondary"
                                                    >{{video.title}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- model: edit course & add lesson-videos to the course starts-->
                        <!-- Modal -->
                        <div class="modal fade" id="edit-lesson-modal" tabindex="-1" aria-labelledby="lessonLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content mx-5 my-5">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="lessonLabel">Edit Lesson</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                        
                                        <!-- Add lesson form -->
                                        <form id="edit-course-form-id" action="" method="POST" novalidate>
                                            <div class="mx-auto w-75">
                                                {% csrf_token %}
                        
                                                <!-- course form -->
                                                {{ lesson_form|crispy }}
                        
                                                <br>
                        
                                                <!-- Video inline form -->
                                                <div class="bg-info px-2 pt-2 pb-2">
                                                    <h6>Videos</h6>
                                                </div>
                                                <br>
                                                {{ video_formset.management_form }}
                                                {% for form in video_formset %}
                                                <div class="d-inline-flex w-100">
                                                    {{ form|crispy }}
                                                </div>
                        
                                                {% endfor %}
                        
                        
                        
                                                <!----display validation errors through ajax-->
                                                <div class="mx-auto">
                                                    <p class="text-danger" id="alert-error"></p>
                                                </div>
                                                <!-- Video
                                                     form ends -->
                                                <div class="d-flex justify-content-center">
                                                    <button type="submit" name="edit-lesson-submit-btn" id="" class="btn btn-warning my-3">Edit
                                                        Lesson & Video</button>
                                                </div>
                                            </div>
                        
                                        </form>
                                        <!-- end course form -->
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        <!-- model:add course ends -->
                        {% endfor %}
            
            
                    </div>
                </div>
                
                
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== EVENTS PART ENDS ======-->




<!-- Footer starts here -->
{% include 'lms_main/components/footer.html' %}
<!-- Footer ends here -->

<script>

    $(document).ready(function(){
        // Add a click event for anchor tag to get the lesson id
        $('#edit-lesson-link').on('click', function(event){
            event.preventDefault();

            var lessonId = $(this).attr('data-lesson-id')
            console.log(lessonId)

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // Send lesson id to the django view using ajax
            $.ajax({
                url:"{% url 'instructor:instructor-my-course' course.slug %}",
                type: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                contentType: "application/json",
                data: '&lesson_id=' + lessonId + '&edit-link=1',
                success: function(response){
                    if (response['success']) {
                        console.log("success")
                    }
                    else{
                        console.log("unsuccess")
                    }
                },
                error: function(erro){
                    console.log("Error on ajax request")
                }

            })
        });

        // Ajax:edit/add lesson and video to the course
        $('#add-lesson-form-id').on('submit', function (event) {
            event.preventDefault();

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            console.log(csrftoken)

            var add_lesson_form_id = $("#add-lesson-form-id")
            // var courseId = $("#edit-link").data("course-id");
            var formData = add_lesson_form_id.serialize() + '&lesson-submit-btn=1' + '&course_id=' + '{{ course.id }}';
            // console.log(courseId)
            console.log(formData)
            // var formData = new FormData(edit_course_form_id.get(0));
            // console.log(formData)

            $.ajax({
                url: "{% url 'instructor:instructor-my-course' course.slug %}",
                type: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: formData,
                dataType: 'json',
                success: function (response) {
                    var success = response['success']
                    if (success) {
                        alert("lesson success")
                        // clear all field of the modal
                        $("#add-lesson-form-id")[0].reset();
                        /* Message box--window.confirm()---:
                        You want to add more lessons:
                        YES->display modal with clear field;
                        NO->close the modal 
                        return to dashboard

                        */
                        if (window.confirm("Do you want to add more lesson?") == true) {
                            // Pressed 'OK'
                            // clear modal and load the modal

                            $('#edit-lesson-modal').modal('show');

                        }
                        else {
                            //  Pressed 'Cancel'
                            // close the modal and refresh the dashboard page
                            $('#edit-lesson-modal').modal('hide');
                            location.reload();

                        }
                    }
                    else {
                        alert("error on adding lessons")
                        var lesson_form_errors = response['lesson_form_errors']
                        var video_form_errors = response['video_form_errors']
                        console.log(lesson_form_errors)
                        console.log(video_form_errors)


                        $.each(lesson_form_errors, function (index, value) {
                            // alertError.text += index + ":" + value[0] + "<br>"
                            alertError.append(index + ":" + value[0] + "<br>")
                            console.log(index, value[0])
                        });
                        $.each(video_form_errors, function (index, value) {
                            // alertError.text += index + ":" + value[0] + "<br>"
                            alertError.append(index + ":" + value[0] + "<br>")
                            console.log(index, value[0])
                        });
                    }
                },
                failure: function (error) {
                    alert("Error occured while calling django view")
                }
            })


        });

        // Quiz form submission
        $('#quiz-form-id').on('submit', function(event){
            event.preventDefault();
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            console.log(csrftoken)

            var formData = $(this).serialize() + '&quiz-form-btn=1'
            console.log(formData)

            $.ajax({
                url: "{% url 'instructor:instructor-my-course' course.slug %}",
                type: "POST",
                headers: { 'X-CSRFToken': csrftoken },
                data: formData,
                success: function (response) {
                    if(response['success']){
                        console.log("success")
                    }
                    else{
                        console.log("unsuccess")
                    }
                },
                error:function(textStatus, errorThrown){
                    console.log('error on ajax request')
                    console.log(textStatus)
                    console.log(errorThrown)
                }

    
            })
        });

    })
</script>



{% endblock %}